@import "tailwindcss";
@plugin "daisyui";

body {
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #000000;
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
